<div class="header">
    <div class="inner_header">
        <div class="logo_container" onclick="logo_click()">
            <h1>bmazon</h1>
        </div>
        <ul class="navigation">
            <a>
                <li onclick="myItems_click()">My Items</li>
            </a>
            <a>
                <li onclick="myBids_click()">My Bids</li>
            </a>
            <a>
                <li onclick="messages_click()" class="header_message">Messages</li>
            </a>
        </ul>
    </div>
    </div>
</div>