<!doctype html>
<html>

<head>
    <title>Bmazon</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="../mvc/controllers/index_page.js"></script>
    <script src="../mvc/models/index_page.js"></script>
    <script src="../mvc/views/index_page.js"></script>
    <script src="eventDispatcher.js"></script>
    <script src="index.js"></script>
    <link href="../views/css/styles.css" rel="stylesheet">
    </link>

<body>
    <div class="login_container">
        <div class="background_container"></div>
        <div class="inner_login_container">
            <div class="title">
                <p class="title_text">bmazon</h1>
            </div>
            <div class="subtitle">
                <p class="subtitle_text">Everything but a</p>
            </div>
            <div class="login_inputs">
                <div class="login_username_container">
                    <p class="attr_title">username:</p>
                    <input type="text" class="login_username" name="username">
                </div>
                <div class="login_password_container">
                        <p class="attr_title">password:</p>
                        <input type="password" class="login_password" name="password">
                </div>
                <div class="login_buttons_container">
                    <button class="login_button" name="login">Login</button>
                    <button class="register_button" name="register">Register</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>