<!doctype html>
<html>

<head>
    <title>bmazon</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="../mvc/controllers/info_page.js"></script>
    <script src="../mvc/models/info_page.js"></script>
    <script src="../mvc/views/info_page.js"></script>
    <script src="../mvc/eventDispatcher.js"></script>
    <script src="../mvc/init/info.js"></script>
    <link href="../views/css/styles.css" rel="stylesheet"></link>
<body>
    <div class="container" id="title">
        <div class="row">
            <div class="col-xl-12" >
                <h1 class="text-center">Info</h1>
            </div>
        </div>       
    </div>
    <div class='container'>
        <div class="row">
            <div class="col-xl-12" id='info'>
                
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <button id="back">back</button>
            </div>
        </div>
    </div>
    <script src="../mvc/header.js"></script>
</body>

</html>