<!doctype html>
<html>

<head>
    <title>bmazon</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="../mvc/controllers/main_page.js"></script>
    <script src="../mvc/models/main_page.js"></script>
    <script src="../mvc/views/main_page.js"></script>
    <script src="../mvc/eventDispatcher.js"></script>
    <script src="../mvc/init/main.js"></script>
    <link href="../views/css/styles.css" rel="stylesheet"></link>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!doctype html>
    <html>

    <body>
        <div class="spacer" style="--spacer_height:10px"></div>
        <div class="title_container" id="title">
            <div class="inner_title_container">
                <div class="title_wrap">
                    <h1 class="title">Bmazon</h1>
                </div>
            </div>
        </div>
        <div class="spacer" style="--spacer_height:10px"></div>
        <div class="dropshadow main_item_container">
            <div class="side_menu">
                <div class="sticker">
                    <div class="add_item_container">
                        <input type="text" class="search" placeholder="Search...">
                    </div>
                    <div class="categories_container">
    
                    </div>
                </div>
            </div>
    
            <div class='items_table' id="myitems">
    
            </div>
        </div>
    
        <script src="/mvc/header.js"></script>
    </body>
    
</html>