<!doctype html>
<html>

<head>
    <title>bmazon</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="../mvc/controllers/messages_page.js"></script>
    <script src="../mvc/models/messages_page.js"></script>
    <script src="../mvc/views/messages_page.js"></script>
    <script src="../mvc/eventDispatcher.js"></script>
    <script src="../mvc/init/messages.js"></script>
    <link href="../views/css/styles.css" rel="stylesheet">
    </link>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!doctype html>
    <html>

<body>
    <div class="outter_container">
        <div class="sidebar">
            <div class="sidebar_inner">
                <div class="compose">
                    <p class="messages_options highlight"><i class="fas fa-plus"></i> Compose</p>
                </div>
                <div class="inbox">
                    <p class="messages_options highlight"><i class="fas fa-inbox"></i> Inbox</p>
                </div>
                <div class="sent">
                    <p class="messages_options highlight"><i class="fas fa-paper-plane"></i> Sent</p>
                </div>
            </div>
        </div>
        <div class="message_display ">
            <div class="message_display_inner">

            </div>
            <div class="message_display_inner_sent">

            </div>
        </div>
    </div>
</body>

<script src="/mvc/header.js"></script>

</html>