<!doctype html>
<html>

<head>
    <title>bmazon</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/mvc/controllers/mybids_page.js"></script>
    <script src="/mvc/models/mybids_page.js"></script>
    <script src="/mvc/views/mybids_page.js"></script>
    <script src="/mvc/eventDispatcher.js"></script>
    <script src="/mvc/flexify.js"></script>
    <script src="/mvc/init/mybids.js"></script>
    <link href="/views/css/styles.css" rel="stylesheet">

<body>
    <div class="mb_title_container" id="title">
        <div class="mb_inner_title_container">
            <h1 class="title">My Bids</h1>
        </div>
    </div>
    <!-- <div class="search_container">
        <div class="search_inner_container">
            <input type="text" class="search">
        </div>
    </div> -->
    <div class="mb_container">
        <div class="mb_inner_container">
            <div class="table_head table_row">
                <div class="table_column">
                    <p>Item ID</p>
                </div>
                <div class="table_column">
                    <p>Item Name</p>
                </div>
                <div class="table_column">
                    <p>Username</p>
                </div>
                <div class="table_column">
                    <p>Amount Bidded</p>
                </div>
                <div class="table_column">
                    <p>Time</p>
                </div>
            </div>

        </div>
    </div>

    <script src="/mvc/header.js"></script>
</body>

</html>