<!doctype html>
<html>

<head>
    <title>bmazon</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="../mvc/controllers/newMessage_page.js"></script>
    <script src="../mvc/models/newMessage_page.js"></script>
    <script src="../mvc/views/newMessage_page.js"></script>
    <script src="../mvc/eventDispatcher.js"></script>
    <script src="../mvc/init/newMessage.js"></script>
    <link href="../views/css/styles.css" rel="stylesheet">
    </link>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!doctype html>
    <html>

<body>
    <div class="message_container">
        <div class="dest">
            <div class="dest_title">
                <h4>To:</h4>
            </div>
            <div class="dest_text">
                <input type="text" class="dest_text_val">
            </div>
        </div>
        <div class="main_message">
           <div class="message_area">
               <textarea rows="10" cols="50" class="message_val"></textarea>
           </div> 
        </div>
        <div class="send">
            <div class="send_inner">
                <button class="reply send_msg">Send</button>
            </div>
        </div>
    </div>
</body>

<script src="/mvc/header.js"></script>

</html>