/*Improrts*/

@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "./items_display.css";
@import "./carousel.css";
@import "./header.css";
@import "/views/css/forms.css";
@import "/views/css/bids.css";
@import "/views/css/admin.css";
@import "/views/css/messages.css";

/*Fonts*/

@font-face{
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Light.ttf);
    font-weight: 300;
}

@font-face{
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Medium.ttf);
    font-weight: 500;
}

@font-face{
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-SemiBold.ttf);
    font-weight: 600;
}

@font-face{
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Bold.ttf);
    font-weight: 700;
}

/*General CSS*/

.spacer {
    margin: var(--spacer_height);
    display: inline-table;
}

.column_spacer{
    width: var(--spacer_width);
}

.dropshadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sticky{
    margin-top: 0px; 
    width: inherit;
    position: fixed;
    top: var(--top_padding);
}

.highlight{
    display: inline-block;
    transition: color .3s linear;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
}

.highlight:hover{
    color:#ff9900;
    cursor:pointer;
}

.invalid_input{
    border-color: tomato;
}

.invalid_text{
    color: tomato;
}

#mapid{
    height: 400px;
    width: 500px;
}

input[type=text] , input[type=password]{
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: #cccccc 1px solid;
    background: #e4e4e4;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(22, 22, 22);
    transition: all .3s ease-in-out;
}


input[type=text]:hover , input[type=password]:hover{
    background: #dddddd;
}

input[type=text]:focus , input[type=password]:focus{
    background: #dddddd;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border: #cccccc 1px solid;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

.login_username_container input[type=text],.login_password_container input[type=password]{
    width: 400px;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: #ffffff 1px solid;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    transition: all .3s ease-in-out;
    font-size: 18px;
}

p{
    margin: 0px;
}

textarea, select, input, button { 
    outline: none; 
}

*{
    font-family: 'Quicksand';
    min-height: 0;
    min-width: 0;
}

/*Page Titles*/

.title_container{
    display: block;
    height: 100px;
    width: 100%;
}

.inner_title_container{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}

.title_wrap{
    display: table;
    height: 100%;
    float: left;
}

.title{
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    font-weight: 400;
    color: rgb(22, 22, 22);
}